#site_body_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #bababa;
  display: block;
}

#tools_and_props {
  display: inline-block;
  position: absolute;
  right: 0px;
  z-index: 99999999;
}

/* .highlighter {
  width: 100%;
  height: 100%;
  border: 1px dashed #07a4ff;
  display: none;
} */
